<div class="main">
  <mat-expansion-panel *ngFor="let i of data" class="panel">
    <mat-expansion-panel-header class="header">
      <div class="info">
        <p>Name: {{i.firstName}} {{i.surname}}</p>
        <p>Age: {{i.age}}</p>
        <p>Gender: {{i.gender}}</p>
      </div>
    </mat-expansion-panel-header>

    <div class="friends">
      <p><b>Direct friends:&nbsp;</b></p>
      <div *ngFor="let friend of i.friends" class="friends">
        <div *ngFor="let d of data">
          <p *ngIf="friend === d.id">
            {{d.firstName}} {{d.surname}},&nbsp;
          </p>
        </div>
      </div> 
    </div>

    <div>
      <p><b>Friends of friends:</b></p>
      <div *ngFor="let friend of i.friends">
        <div *ngFor="let d of data">
          <div *ngIf="friend === d.id">
            <div *ngFor="let friend of d.friends">
              <div *ngFor="let a of data" class="friends">
                <p *ngIf="friend === a.id && i.id !== a.id">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{a.firstName}} {{a.surname}}
                </p>
              </div>
            </div> 
          </div>
        </div>
      </div> 
    </div>
  </mat-expansion-panel>
</div>

